<hmtl>
    <head>
        <title>advisor Ad</title>
    </head>
    <p>advisor</p>
    <div>
       <form action="/advisor/" method="post">

       {% csrf_token %}

       <label for="name">Advisor Name: </label>
       <input id="name" type="text" name="name" max_length= "100">
            
       <label for="url">URL for image: </label>
       <input id="url" type="text" name="url" max_length= "100">

       <button type="submit" class="btn btn-primary">Submit</button>

    </form>
        </div>
    <div>
    {% for advisor in ad %}
        <h5 class="card-title">{{ advisor.name }}</h5>
        <p class="card-text">{{ advisor.url }}</p>
        <p>{{ advisor.advisor_id }}</p>
    {% endfor %}
    </div>
    </html>
